#########################################
#       Mandatory Libraries
#########################################

fastapi==0.115.7
uvicorn==0.34.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.10
hvac==2.3.0
openai==1.60.1
psycopg2==2.9.10