#########################################
#       Mandatory Libraries
#########################################

fastapi==0.115.7
uvicorn==0.34.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.10
hvac==2.3.0
openai==0.28
psycopg2==2.9.10
psutil==6.1.1
celery==5.4.0
redis==5.2.1